img{
    max-width: 100%;
    height: auto;
    background: lightblue;
    background: radial-gradient(white 30%, lightblue 70%);
}

.fa-star,
fa-star-half{
    color: yellowgreen;
    padding: 3% 0;
}

#cart_count{
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
}

.shopping-cart{
    padding: 3% 0;
}

.cart-items + .cart-items{
    padding: 2% 0;
}

.price-details h6{
    padding: 3% 2%;
}

#paypal-payment-button{ 
    padding: 3% 2%;
}

.cart-main{
    justify-content: center;
}

.cart-main {
    justify-items: center;
    text-align: center;
  
    
}

.cart-main img{
    border-radius: 50%;
    width: 20%;
}

#navbarNavAltMarkup a{
    text-decoration: none;
}